.info-container {
    width: 960px;
    margin-top: 64px;
}

.info-header {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    padding: 8px;
}

.info-header img {
    height: 210px;
    width: 150px;
    border-radius: 8px;
    margin-right: 48px;
    display: inline-block;
    border: 1px solid rgb(40, 40, 40);
}

.info-title {
    font: bold 40px var(--font-name);
    color: white;
    margin-bottom: 24px;
    text-align: left;
    /*text-decoration: underline;*/
}

.info-extra {
    font-size: 21px;
    text-align: left;
    color: rgb(180, 180, 180);
    margin-top: 8px;
    margin-bottom: 0px;
}

.info-description {
    margin-top: 16px;
    text-align: left;
    font: 16px var(--font-name);
    color: rgb(240, 240, 240);
    padding: 8px 0px;
}

.info-watch-movie {
    margin-top: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    background-color: rgb(230, 230, 230);
    /* rgba(120, 120, 200, 0.5);*/
    border: 2px solid salmon;
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s, border-radius 1s, text-shadow 0.5s;
    text-shadow: none;
    width: 100%;
}

.info-watch-movie:hover {
    color: white;
    background-color: salmon;
    border-radius: 32px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
