.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.overlay-container {
    position: absolute;
    width: 700px;
    /*70%;*/
    top: 50%;
    left: 50%;
    font-size: 18px;
    background-color: white;
    border-radius: 32px;
    padding: 32px;
    color: black;
    text-align: left;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    overflow: auto;
    display: flex;
    justify-content: space-around;
    box-shadow: -2px -2px salmon;
}

.overlay-row {
    margin-top: 16px;
    margin-bottom: 16px;
}

.overlay-label {
    display: inline-block;
    width: 180px;
    font-weight: bold;
}

.overlay-input {
    font: 14px var(--font-name);
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 2px;
    color: rgb(120, 120, 120);
    width: 200px;
}

.overlay-button {
    cursor: pointer;
    font-size: 18px;
    padding: 4px 12px;
    box-shadow: 2px 2px salmon;
    margin-left: 48px;
    font-family: var(--font-name);
}

.overlay-error {
    color: rgb(230, 0, 0);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay-loading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay-spinner {
    display: inline-block;
    width: 100px;
}

.overlay-spinner-top {
    margin-top: -32px;
    margin-bottom: -24px;
}

.overlay-spinner-bottom {
    margin-top: -16px;
    margin-bottom: -42px;
}
